* {
  text-align: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 5px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 1px solid black;
}

#label-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
